[submodule "Galaxy Simulator/libs/glm"]
	path = Galaxy Simulator/libs/glm
	url = https://github.com/g-truc/glm
[submodule "Galaxy Simulator/libs/imGui"]
	path = Galaxy Simulator/libs/imGui
	url = https://github.com/ocornut/imgui
